* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
header {
  text-align: center;
}
header span {
  color: orange;
}
.hero {
  display: flex;
  justify-content: center;
}
.hero img {
  width: 80%;
  height: 400px;
  margin: 5px;
}
.content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-1 {
  width: 20%;
}
.col-2 {
  width: 50%;
}
.first3 {
  background-color: brown;
  color: white;
  padding: 10px;
}
.content2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.cl-1 {
  width: 60%;
}
.cl-2 {
  width: 20%;
}
.sec2 {
  background-color: brown;
  color: white;
  padding: 10px;
}
@media (max-width: 700px) {
  .content {
    flex-direction: column;
  }
  .col-1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .col-2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .content2 {
    flex-direction: column;
  }
  .cl-1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .cl-2 {
    width: 100%;
    margin-bottom: 20px;
  }
}
